<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.18/dist/full.css" rel="stylesheet"/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-base-100 p-6">

<div class="max-w-7xl mx-auto bg-white p-8 rounded-xl shadow-lg">

  <!-- 테이블 -->
  <div class="overflow-x-auto mb-6">
    <table class="table table-zebra w-full">
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>이메일</th>
        <th>수정일</th>
        <th>생성일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="inquiry, stat : ${inquires}"
          th:onclick="'viewInquiry(' + *{inquiry.inquiryId} +')'" style="cursor:pointer;">
        <td th:text="${stat.index}"></td>
        <td th:text="${inquiry.title}"></td>
        <td th:text="${inquiry.getName}"></td>
        <td th:text="${inquiry.updatedAt}"></td>
        <td th:text="${inquiry.createdAt}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
<script>
  function viewInquiry(inquiryId) {
    window.location.href = '/dashboard/inq?inquiryId=' + inquiryId ;
  }

</script>
</html>
