<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 대시보드</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.18/dist/full.css" rel="stylesheet"/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-base-100 p-6">

<div class="max-w-md mx-auto bg-white p-8 rounded-xl shadow-md space-y-4">
  <h2 class="text-2xl font-bold mb-6 text-center">관리자 대시보드</h2>

  <a th:href="@{/dashboard/inq/page}" class="btn btn-outline w-full">문의 목록 보기</a>
  <a th:href="@{/dashboard/user/list}" class="btn btn-outline w-full">회원 목록 보기</a>
<!--  <a th:href="@{/dashboard/stats}" class="btn btn-outline w-full">통계 보기</a>-->
<!--  <a th:href="@{/dashboard/settings}" class="btn btn-outline w-full">설정</a>-->
  <a th:href="@{/manager/logout}" class="btn btn-error w-full text-white">로그아웃</a>
</div>


</body>
</html>
