<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout :: html(content=~{::content}, title='문의', currentMenu='inquiry')}">
<body>
<th:block th:fragment="content" th:object="${inquiry}">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" th:text="*{title}">제목</h5>
          <table class="table">
            <tr>
              <th style="width: 120px">이름</th>
              <td th:text="*{name}">1</td>
            </tr>
            <tr>
              <th style="width: 120px">질문</th>
              <td th:text="*{question}">1</td>
            </tr>
            <tr>
              <th>등록일</th>
              <td th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            <tr>
              <th>수정일</th>
              <td th:text="${#temporals.format(inquiry.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            <tr>
              <th>답변</th>
              <td th:text="*{answer}">2023-04-25 10:00</td>
            </tr>
            <tr>
              <th></th>
              <td>
                <form th:action="@{/api/inq/ans}" method="post" class="d-flex flex-column">
                  <input type="hidden" id="inquiryId" name="inquiryId" th:value="*{inquiryId}"/>
                  <textarea id="answer" name="answer" rows="5"
                            class="form-control mb-2"
                            required th:value="*{answer}"></textarea>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-warning"
                            th:onclick="'deleteInquiry('+*{inquiryId}+')'">문의 삭제
                    </button>
                    <button type="submit" class="btn btn-primary">답글 전송</button>
                  </div>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    function deleteInquiry(inquiryId) {
      showConfirm("정말 삭제하시겠습니까?", () => {
        fetch(`/api/inq?inquiryId=${inquiryId}`, {
          method: 'DELETE'
        })
        .then(res => {
          if (res.status == 200) {
            showAlert("삭제되었습니다.");
            setTimeout(() => {
              window.location.href = "/api/inq/page";
            }, 3000);
          }
        })
        .catch(err => {
          Swal.fire({
            title: '오류',
            text: err.message,
            icon: 'error',
            confirmButtonText: '확인'
          });
        });
      });
    }
  </script>
</th:block>
</body>
</html>
